In [295]:
print("hello")

hello

In [296]:
a=1
b=2
print(a+b)

3

In [297]:
my_var=3
print(type(my_var))

<class 'int'>

In [298]:
a=8
print(type(a))

<class 'int'>

In [299]:
b="k"
print(type(b))

<class 'str'>

In [300]:
b=5.0
print(type(b))

<class 'float'>

In [301]:
m2_var=6
print(m2_var)

6

In [302]:
a=2+3j
print(a)

(2+3j)

In [303]:
a=6.5e7
print(a)

65000000.0

In [304]:
a=5
print(type(a))
b=float(a)
print(type(b))
print(b)

<class 'int'>
<class 'float'>
5.0

In [305]:
my_list = [10,12,8,9,11]
print(my_list)
print(type(my_list))
print(my_list[2])

[10, 12, 8, 9, 11]
<class 'list'>
8

In [306]:
x=5
print(id(x))
x=6
print(id(x))

4355713760
4355713792

In [307]:
print(id(my_list))
my_list[2]=50
print(my_list)
print(id(my_list))

4405392832
[10, 12, 50, 9, 11]
4405392832

In [308]:
c=6.3
d=int(c)
print(d)

6

In [309]:
print(len(my_list))

5

In [310]:
my_list=[10,12,"cat",12.5,True]

In [311]:
print(my_list[1:4])

[12, 'cat', 12.5]

In [312]:
print(my_list[:4])

[10, 12, 'cat', 12.5]

In [313]:
print(my_list[2:])

['cat', 12.5, True]

In [314]:
print(my_list[1:7:1])

[12, 'cat', 12.5, True]

In [315]:
print(my_list[-2])

12.5

In [316]:
my_list.insert(2,77)
print(my_list)

[10, 12, 77, 'cat', 12.5, True]

In [317]:
my_list.append(22)
print(my_list)

[10, 12, 77, 'cat', 12.5, True, 22]

In [318]:
my_list[2:5]=[50,70,60]
print(my_list)

[10, 12, 50, 70, 60, True, 22]

In [319]:
my_list=["Dog","Cat","Rabbit"]
my_list.remove("Cat")
print(my_list)

['Dog', 'Rabbit']

In [320]:
my_list=[1,2,3]
my_var=my_list.pop(1)
print(my_list)
print(my_var)
del my_list[1]
print(my_list)

[1, 3]
2
[1]

In [321]:
del my_list

In [322]:
my_list=[1,2,3]
my_list.clear()
print(my_list)

[]

In [323]:
sports = ("tennis","cricket","football","football")
print(sports)
print(type(sports))
print(sports[1])

('tennis', 'cricket', 'football', 'football')
<class 'tuple'>
cricket

In [324]:
# sports[1]="baseball"

In [325]:
sports=("tennis")
print(type(sports))
sports=("tennis",)
print(type(sports))

<class 'str'>
<class 'tuple'>

In [326]:
sports = ("tennis","cricket","football","football")
print(sports[-1])

football

In [327]:
sports = ("tennis","cricket","football","football")
print(sports[1:3])

('cricket', 'football')

In [328]:
sports = ("tennis","cricket","football","football")
x=list(sports)
print(x,type(x))
x[1]="baseball"
sports=tuple(x)

['tennis', 'cricket', 'football', 'football'] <class 'list'>

In [329]:
nested_tuple = ((1,2,3),(a,b,c),(True,False))

In [330]:
sports = {"tennis","cricket","football"}
print(sports)
print(type(sports))
print(sports[2])

{'cricket', 'football', 'tennis'}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [ ]:
sports = {"tennis","tennis","football"}
print(sports)

{'football', 'tennis'}

In [ ]:
sports.add("soccer")
print(sports)
sports.add("vollyball")
print(sports)

{'soccer', 'vollyball', 'football', 'tennis'}
{'soccer', 'vollyball', 'football', 'tennis'}

In [ ]:
sports = {"tennis","cricket","football"}
sports.update(["sport1","sport2"])
print(sports)

{'sport1', 'sport2', 'cricket', 'tennis', 'football'}

In [ ]:
sports.remove("tennis")
print(sports)

{'sport1', 'sport2', 'cricket', 'football'}

In [ ]:
my_var = range(1,17,3)
print(my_var)

range(1, 17, 3)

In [ ]:
print(my_var[0])
print(my_var[1])
print(my_var[2])
print(my_var[3])
print(my_var[4])
print(my_var[5])

1
4
7
10
13
16

In [ ]:
my_var=range(13)
print(my_var[0])
print(my_var[1])
print(my_var[2])
print(my_var[3])
print(my_var[4])
print(my_var[5])
print(my_var[12])

0
1
2
3
4
5
12

In [ ]:
item_1 = {
    "name" : "sugar",
    "weight":"1kg",
    "price":175.00
}
print(item_1)
print(type(item_1))

{'name': 'sugar', 'weight': '1kg', 'price': 175.0}
<class 'dict'>

In [ ]:
item_1 = {
    "name" : "sugar",
    "weight":"1kg",
    "price":175.00
}
print(item_1["name"])
print(item_1["price"])
print(item_1["weight"])

sugar
175.0
1kg

In [ ]:
item_1["price"]=180.00
print(item_1)

{'name': 'sugar', 'weight': '1kg', 'price': 180.0}

In [ ]:
item_1 = {
    "name" : "sugar",
    "weight":"1kg",
    "price":175.00,
    "price":150.00
}
print(item_1)

{'name': 'sugar', 'weight': '1kg', 'price': 150.0}

In [ ]:
print(len(item_1))

3

In [ ]:
this_dict = {
    "name":"sugar",
    "weight":"1kg",
}
print(this_dict.get("price",50.00))

50.0

In [ ]:
this_dict["expiry_date"]="28/05/2027"
print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'expiry_date': '28/05/2027'}

In [ ]:
this_dict.update({"weight":"2kg","price":120})
print(this_dict)

{'name': 'sugar', 'weight': '2kg', 'expiry_date': '28/05/2027', 'price': 120}

In [ ]:
x = 5
y = 4
print(x**y)
#5 hi 4 wana balaya

625

In [ ]:
y // x
#y,x gen bedu wita ena eke purna sankyawa

0

In [ ]:
y % x

4

In [ ]:
x = 5
print(x)
x += 2
print(x)

5
7

In [ ]:
x = 5
print(x)

x -= 3
print(x)

5
2

In [ ]:
x=16
x %= 5
print(x)

1

In [ ]:
x=10
x **= 2
print(x)

100

In [ ]:
x=10
x //= 2
print(x)

5

In [ ]:
x==y

False

In [ ]:
product_ids=[101,102,103,104,105,106,107,108,109]
new_pro_ids=set(product_ids)
has_duplicates = len(product_ids) > len(new_pro_ids)
print(has_duplicates)

False

In [ ]:
x=3
y=3
print(x is y)

True

In [331]:
x=77777777777
y=99999999999
print(x is y)

False

In [332]:
nums = [1,2,3,6,4]
print(8 in nums)

False

In [2]:
f=3
print(id(f))
f=4
print(id(f))

4399344288
4399344320