In [43]:
print("hello")

hello

In [44]:
a=1
b=2
print(a+b)

3

In [45]:
my_var=3
print(type(my_var))

<class 'int'>

In [46]:
a=8
print(type(a))

<class 'int'>

In [47]:
b="k"
print(type(b))

<class 'str'>

In [48]:
b=5.0
print(type(b))

<class 'float'>

In [49]:
m2_var=6
print(m2_var)

6

In [50]:
a=2+3j
print(a)

(2+3j)

In [51]:
a=6.5e7
print(a)

65000000.0

In [52]:
a=5
print(type(a))
b=float(a)
print(type(b))
print(b)

<class 'int'>
<class 'float'>
5.0

In [53]:
my_list = [10,12,8,9,11]
print(my_list)
print(type(my_list))
print(my_list[2])

[10, 12, 8, 9, 11]
<class 'list'>
8

In [54]:
x=5
print(id(x))
x=6
print(id(x))

4355713760
4355713792

In [55]:
print(id(my_list))
my_list[2]=50
print(my_list)
print(id(my_list))

4406280256
[10, 12, 50, 9, 11]
4406280256

In [56]:
c=6.3
d=int(c)
print(d)

6

In [57]:
print(len(my_list))

5

In [58]:
my_list=[10,12,"cat",12.5,True]

In [59]:
print(my_list[1:4])

[12, 'cat', 12.5]

In [60]:
print(my_list[:4])

[10, 12, 'cat', 12.5]

In [61]:
print(my_list[2:])

['cat', 12.5, True]

In [62]:
print(my_list[1:7:1])

[12, 'cat', 12.5, True]

In [63]:
print(my_list[-2])

12.5

In [64]:
my_list.insert(2,77)
print(my_list)

[10, 12, 77, 'cat', 12.5, True]

In [65]:
my_list.append(22)
print(my_list)

[10, 12, 77, 'cat', 12.5, True, 22]

In [66]:
my_list[2:5]=[50,70,60]
print(my_list)

[10, 12, 50, 70, 60, True, 22]

In [67]:
my_list=["Dog","Cat","Rabbit"]
my_list.remove("Cat")
print(my_list)

['Dog', 'Rabbit']

In [68]:
my_list=[1,2,3]
my_var=my_list.pop(1)
print(my_list)
print(my_var)
del my_list[1]
print(my_list)

[1, 3]
2
[1]

In [69]:
del my_list

In [70]:
my_list=[1,2,3]
my_list.clear()
print(my_list)

[]

In [71]:
sports = ("tennis","cricket","football","football")
print(sports)
print(type(sports))
print(sports[1])

('tennis', 'cricket', 'football', 'football')
<class 'tuple'>
cricket

In [72]:
sports[1]="baseball"

TypeError: 'tuple' object does not support item assignment

In [ ]:
sports=("tennis")
print(type(sports))
sports=("tennis",)
print(type(sports))

<class 'str'>
<class 'tuple'>

In [75]:
sports = ("tennis","cricket","football","football")
print(sports[-1])

football

In [74]:
sports = ("tennis","cricket","football","football")
print(sports[1:3])

('cricket', 'football')

In [73]:
sports = ("tennis","cricket","football","football")
x=list(sports)
print(x,type(x))
x[1]="baseball"
sports=tuple(x)

['tennis', 'cricket', 'football', 'football'] <class 'list'>

In [ ]:
nested_tuple = ((1,2,3),(a,b,c),(True,False))

In [87]:
sports = {"tennis","cricket","football"}
print(sports)
print(type(sports))
print(sports[2])

{'cricket', 'football', 'tennis'}
<class 'set'>

TypeError: 'set' object is not subscriptable

In [88]:
sports = {"tennis","tennis","football"}
print(sports)

{'football', 'tennis'}

In [91]:
sports.add("soccer")
print(sports)
sports.add("vollyball")
print(sports)

{'soccer', 'vollyball', 'football', 'tennis'}
{'soccer', 'vollyball', 'football', 'tennis'}

In [97]:
sports = {"tennis","cricket","football"}
sports.update(["sport1","sport2"])
print(sports)

{'sport1', 'sport2', 'cricket', 'tennis', 'football'}

In [98]:
sports.remove("tennis")
print(sports)

{'sport1', 'sport2', 'cricket', 'football'}

In [99]:
my_var = range(1,17,3)
print(my_var)

range(1, 17, 3)

In [102]:
print(my_var[0])
print(my_var[1])
print(my_var[2])
print(my_var[3])
print(my_var[4])
print(my_var[5])

1
4
7
10
13
16

In [114]:
my_var=range(13)
print(my_var[0])
print(my_var[1])
print(my_var[2])
print(my_var[3])
print(my_var[4])
print(my_var[5])
print(my_var[12])

0
1
2
3
4
5
12

In [115]:
item_1 = {
    "name" : "sugar",
    "weight":"1kg",
    "price":175.00
}
print(item_1)
print(type(item_1))

{'name': 'sugar', 'weight': '1kg', 'price': 175.0}
<class 'dict'>

In [118]:
item_1 = {
    "name" : "sugar",
    "weight":"1kg",
    "price":175.00
}
print(item_1["name"])
print(item_1["price"])
print(item_1["weight"])

sugar
175.0
1kg

In [119]:
item_1["price"]=180.00
print(item_1)

{'name': 'sugar', 'weight': '1kg', 'price': 180.0}

In [123]:
item_1 = {
    "name" : "sugar",
    "weight":"1kg",
    "price":175.00,
    "price":150.00
}
print(item_1)

{'name': 'sugar', 'weight': '1kg', 'price': 150.0}

In [124]:
print(len(item_1))

3

In [129]:
this_dict = {
    "name":"sugar",
    "weight":"1kg",
}
print(this_dict.get("price",50.00))

50.0

In [131]:
this_dict["expiry_date"]="28/05/2027"
print(this_dict)

{'name': 'sugar', 'weight': '1kg', 'expiry_date': '28/05/2027'}

In [141]:
this_dict.update({"weight":"2kg","price":120})
print(this_dict)

{'name': 'sugar', 'weight': '2kg', 'expiry_date': '28/05/2027', 'price': 120}