In [1]:
print("print")

print

In [3]:
if 4>5 :
    print("hi")
else:
    print("hello")
print("hi")

hello
hi

In [5]:
num =float(input("enter number"))
print(num/2)

1.0

In [6]:
if num/5 > 0 :
    print("1")
elif num==6 :
    print("4")

1

In [15]:
number = float(input("Enter number"))
if number%2 == 0 :
    print(number,"is even number")
else :
    print(number,"odd number")

3.0 odd number

In [17]:
radius = float(input("Enter radius"))
PI_VALUE = 3.14
circumference = 2 * PI_VALUE * radius

if 0 < radius :
    print(circumference)
else :
    print("radius must be grater than 0")

25.12

In [18]:
a = 2
b = 4
c = 7

if a>0 and b>0 :
    print("1st one is true")
else :
    print("mmm")

1st one is true

In [ ]:
x = 13
result = "even" if x%2 == 0 else "odd"
print(result)

odd

In [26]:
number = float(input("Enter number"))
result = number * -1 if number < 0 else number
print(result)

0.0

In [ ]:
a = 1
match a :
    case 1 :
        print("1")
    case 3 :
        print("3")
    case _:
        print("no matches value")

no matches

In [ ]:
numbers = [1,2,3,4]
match numbers :
    case [x] :
        print(x)
    case [x,y] :
        print(x*y)
    case [x,y,z] :
        print(x*y*z)
    case [x,y,z,a] :
        print(x*y*z*a)
    case _ :
        print("no answer")

6

In [32]:
num = [1,2,3,4,5,6,7]
for item in num :
    print(item)

1
2
3
4
5
6
7

In [34]:
for item in range(0,100,5) :
    print(item)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [13]:
my_tuple = (1,2,[2,3])
print(my_tuple)
print(type(my_tuple))
my_tuple = (3,4,3)
print(type(my_tuple))
print(my_tuple)
my_tuple = ([1,2],{3,4},{"name":"ruwani","age":4})
print(type(my_tuple))
print(my_tuple)
my_tuple = (10, 20, [30, 40])
my_tuple[2].append(50)
print(type(my_tuple))
print(my_tuple)

(1, 2, [2, 3])
<class 'tuple'>
<class 'tuple'>
(3, 4, 3)
<class 'tuple'>
([1, 2], {3, 4}, {'name': 'ruwani', 'age': 4})
<class 'tuple'>
(10, 20, [30, 40, 50])

In [15]:
tuple_1 = (1,2,3)
tuple_1[2].append(50)

print(my_tuple)

AttributeError: 'int' object has no attribute 'append'

In [16]:
my_dict = {
 'apple': 5,
 'banana': 10,
 'apple': 12
}
print(my_dict)

{'apple': 12, 'banana': 10}

In [ ]:
my_dict = {'a': 1, 'b': 2}
values = my_dict.values()
my_dict['c'] = 3
print(list(values))
values = list(my_dict.values())
print(values)

[1, 2, 3]
[1, 2, 3]

In [20]:
score = 88
grade = ''
if score >= 90:
 grade = 'A'
elif score >= 80:
 grade = 'B'
elif score >= 70:
 grade = 'C'
else:
 grade = 'F'
print(grade)

B

In [21]:
x = 10
y = 20
result = "Red" if x > y else "Blue" if x == y else "Green"
print(result)

Green

In [ ]:
code = (404, "Not Found")
match code:
 case (200, _):
    print("OK")
 case (404 | 403, msg):
    print(f"Error: {msg}")
 case _:
    print("Unknown")

Error: Not Found

In [28]:
val = [10, "High", 5]
match val:
 case [x, _, y] if x > y:
    print(x + y)
 case _:
    print(-1)

15

In [29]:
my_list = []
my_dict = {}
if my_list:
 print("List")
elif my_dict:
 print("Dict")
else:
 print("Empty")

Empty

In [33]:
n = 10
while n > 0:
 n -= 2
 if n == 4:
    break
 print(n, end=" ")
else:
    print("Done")

8 6

In [35]:
total = 0
for i in range(10, 0, 2):
 total += 1
print(total)

0

In [36]:
result = ""
for i in range(3):
 for j in range(i):
    result += f"({i},{j}) "
print(result)

(1,0) (2,0) (2,1)

In [38]:
count = 0
for num in [1, 2, 3, 4, 5]:
    if num % 2 == 0:
        continue
    count += num
print(count)

9

In [39]:
data = {'x': 100, 'y': 200}
for item in data.items():
    print(item)

('x', 100)
('y', 200)

In [41]:
numbers = [1, 2, 3, 4, 5, 6]
for i in range(len(numbers)):
 if numbers[i] % 3 == 0:
     numbers.pop(i)

IndexError: list index out of range

In [42]:
data = {'a': 10, 'b': 20, 'c': 30}
total = 0
for k in data:
 if k == 'b':
    continue
 total += data[k]
print(total)

40

In [43]:
count = 5
total = 0
while True:
 total += count
 count -= 1
 if count == 0:
    break
print(total)

15

In [45]:
def add_item(item, my_list=[]):
    my_list.append(item)
    return my_list
print(add_item(1))
print(add_item(2))

[1]
[1, 2]

In [46]:
def calculate(a, b, c=10, d=5):
    return (a + b) * c - d
print(calculate(3, 7, d=20))

80

In [47]:
x = 10
def my_func():
    global x
    x = 20
    print(f"Inner: {x}", end=" ")
my_func()
print(f"Outer: {x}")

Inner: 20 Outer: 20

In [ ]:
def get_stats(numbers):
    return min(numbers), max(numbers), sum(numbers) / len(numbers)
stats = get_stats([1, 9, 10])
print(type(stats))

<class 'tuple'>

In [6]:
def summarize(*args):
    if len(args) == 0:
        return 0
    return sum(args) / len(args)

print(summarize(10, 20, 30))

20.0

In [7]:
def process_data(**kwargs):
    status = kwargs.pop('status', 'Pending')
    return f"Status: {status}, Remaining: {len(kwargs)}"

print(process_data(id=101, user='admin', status='Complete'))

Status: Complete, Remaining: 2

In [8]:
def calculate(x, y, z):
    return x * y + z

data = [10, 5]
config = {'z': 2}
print(calculate(*data, **config))

52

In [9]:
my_list = [1, 2, 3, 4, 5]
new_list = [x * 10 for x in my_list]
print(new_list)

[10, 20, 30, 40, 50]

In [ ]:
data = "The 1 quick 2 brown 3 fox"
filtered_list = [w.upper() for w in data.split() if w.isalpha()]
print(filtered_list)

['1', '2', '3']

In [ ]:
matrix = [[1, 2], [3, 4]]
flat_list = [num * 2 for row in matrix for num in row]
print(flat_list)

[2, 4, 6, 8]

In [13]:
scores = [10, 50, 90]
filter_obj = filter(lambda x: x > 40, scores)
print(filter_obj)

<filter object at 0x0000013F77644BE0>

In [14]:
data = [1, 2, 3, 4, 5]
mapped = map(lambda x: x * x, data)
filtered = filter(lambda x: x > 10, mapped)
total = sum(filtered)
print(total)

41